[Unit]
Description=Shim for GPU Pit Crew. Executes the driver swap script when called. LEWIS HAMILTOOOON
Before=graphical.target display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/gpuset.sh

[Install]
WantedBy=graphical.target display-manager.service
